# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# my ignore files
custom.el
README.el
transient/
bookmarks
straight/
recentf

*.bbl
*.dvi
*.pdf
*.pyg
*.tex
_minted-*/
url/
/el-get/

history
org-roam.db
/ido.last
/eaf/
/.mc-lists.el
/places
/backups/
/eln-cache/
/.org-generic-id-locations
/org-gcal/
/persist/
/request/
/git/
/projects
/projectile-bookmarks.eld
/annotations
/var/
/oauth2.plstore
*.plstore
